html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    grid-template-rows: 1fr 1fr 2fr 5fr 5fr;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100%;
    
}

.white {
    background-color: white;
    color: red;
    font-family: monospace;
    font-size: 3rem;
}

.navigation {
    display: grid;
    text-align: center;
    font-family: monospace;
    background-color: white;
    color: gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search {
    display: grid;
    text-align: center;
    background-color: white;
    color: gray;
    grid-template-columns: 1fr 1fr 1fr;
    border-top-width: 1rem;
    border-color: lightgray;
    border-width: .3rem;
    border-style: solid;
    border-radius: 1rem;
    column-rule-style: solid;
    column-rule: 2rem;
}

.big-text {
    font-size: 4em;
    color: rgb(214, 101, 120);
    font-size: 7rem;
    font-style: bold;
    font-family: monospace;
}

.pictures {
    display: grid;
    width: 33%;
    height: ;
    background-color: black;
    border-top: 50px;
    border-bottom: 20px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-style: 'Times new roman' ;
    font-size: 2em;
    line-height: 3rem; 
    grid-template-columns: 1fr 1fr 1fr;
} 
